name: CI

on:
  push:
    branches: [ main ]

  workflow_dispatch:

jobs:
  CI:
    runs-on: ubuntu-latest
    
    steps: 
      - uses: actions/checkout@v2
      
      - name: Setup Node.js environment
        uses: actions/setup-node@v4.0.1
        with:
          node-version: 20.11.0    

      - name: Instalação do Mocha e dos pacotes para teste
        run: |
          cd src;
          npm install -g mocha;
          npm install;

      - name: Execução do teste
        run: mocha src/test/convert.js

      - name: Docker Login
        uses: docker/login-action@v3.0.0
        with:
          username: ${{secrets.DOCKERHUB_USERNAME}}
          password: ${{secrets.DOCKERHUB_PASSWORD}}

      - name: Construção da imagem Docker
        uses: docker/build-push-action@v5.1.0
        with:
          context: ./src
          file: ./src/Dockerfile
          push: true
          tags: |
            tgoalm/3.01.repositorio-git-conversao-temperatura:${{github.run_number}}
            tgoalm/3.01.repositorio-git-conversao-temperatura:latest
